* {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: rgb(173, 191, 151); */
  text-align: center;
  background-image: url(img1.jpg);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  position: relative;
  text-align: center;
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 70vh;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  width: 18vmin;
  border-radius: 1rem;
  border: none;

  font-size: 8vmin;
  color: rgb(22, 23, 24);

  height: 18vmin;
  background-color: azure;
}
#re-btn {
  background-color: transparent;
  
  font-size: 1.25rem;

  color: white;

  padding: 10px 20px;

  /* font-size: 15px; */
  cursor: pointer;
  border: 2px solid white;
  border-radius: 1rem;

  background-color: transparent;
}



#title-name {
  background-color: transparent;
  border-bottom: 1px solid white;

  font-size: 2.5rem;
  color: rgb(255, 254, 254);
  /* border-radius: 1rem; */
  /* border-right: 5rem solid rgb(255, 255, 255);
    border-left: 5rem solid rgb(255, 255, 255); */

  padding: 1rem;
}

#new-btn {
  background-color: transparent;
  font-size: 3vmin;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  margin: 1rem;
}
.msg-container {
  height: 30vmin;
}
#msg {
  color: white;
  font-size: 5vmin;
}

.hide {
  display: none;
}
